{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_course %}
        Add Course
    {% else %}
        Edit course
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='content-static/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='content-static/offcanvas.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='content-static/select_course.css') }}" rel="stylesheet">
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">{{ current_user.realname }}</a>
            <div id="mydropdown" class="dropdown-menu" aria-labelledby="Preview" style="min-width:0rem;">
				<a class="dropdown-item" href="{{ url_for('admin.update_infos') }}">修改信息</a>
				<a class="dropdown-item" href="{{ url_for('admin.list_courses') }}">退出编辑</a>
				<a class="dropdown-item" href="{{ url_for('auth.logout') }}">退出登录</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
{% endblock navbar %}



{% block page_content %}
<div class="container">

    <form action="" method="POST" class="form-signin">
          <h2 class="form-signin-heading">
              {% if add_course %}
              Add Course
              {% else %}
              Edit Course
              {% endif %}
          </h2>

          {{ form.csrf_token }}
          {{ form.hidden_tag() }}


          {{ form.name(class="form-control", placeholder="课程名称", required=True) }}


          {{ form.description(class="form-control", placeholder="课程简介", required=True) }}

        {% if add_course %}
          {{ form.courseNums(class="form-control", placeholder="选课口令", required=True, value=code) }}
        <small class="text-muted">选课口令现在可以更换，一旦确定后不可更换</small>
        {% else %}
        {{ form.courseNums(class="form-control", placeholder="选课口令", required=True, value=code, disabled=True) }}
        {% endif %}
          {{ form.submit(class="btn btn-outline-success my-2 my-sm-0") }}

      </form>
</div>
{% endblock %}