{% extends "base.html" %} {% block title %}View Courses{% endblock %} {% block body %}
<div id="mainwrap">
    <!-- <img src="../../static/img/avatar.png" id="avatar"> -->
    <p id="cname">{{current_user.name}} </p>
    <!-- add the course button -->
    <form action="{{ url_for('home.selectCourse') }}", method="POST">
        <input type="text" name="nums">
        <input type="submit" name="submit">
    </form>
    {% if courses %}
    {% set index = 0 %}
    {% for i in courses %}
        <ul>{{ i.name }}</ul>
        {% for j in experimentSet[index] %}
             <li><a href="{{ url_for('home.experiment',name=j) }}">{{ j }}</a></li>
        {% endfor %}
        {% set index = index +1 %}
    {% endfor %}
    {% else %}
    <h1>No course selected yet !</h1>
    {% endif %}
</div>
{% endblock %}
