{% extends "base.html" %}

{% block metas %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock metas %}

    {% block title %}{{ super() }}{% endblock title %}

{% block styles %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='content-static/bootstrap.css') }}" rel="stylesheet">
<!--<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='content-static/offcanvas.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='content-static/select_course.css') }}" rel="stylesheet">
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#">已选课程 <span class="sr-only">(current)</span></a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#">我要选课</a>-->
          <!--</li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.realname }}</a>
            <div id="mydropdown" class="dropdown-menu" aria-labelledby="Preview" style="min-width:0rem;">
                <a class="dropdown-item" href="{{ url_for('home.list_courses') }}">已选课程</a>
				<a class="dropdown-item" href="#">我要选课</a>
				<a class="dropdown-item" href="{{ url_for('home.update_infos') }}">修改信息</a>
				<a class="dropdown-item" href="{{ url_for('auth.logout') }}">退出登录</a>
            </div>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </div>
    </nav>
{% endblock navbar %}

{% block page_content %}
   <div class="container">

      <form action="/selectCourse" class="form-signin" method="POST">
        <h5 class="form-signin-heading">输入选课口令即可选择相应课程</h5>
        <label for="inputCode" class="sr-only"></label>
        <input name="nums" type="text" id="inputCode" class="form-control" placeholder="选课口令" required="">
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="确认"/>
      </form>



    </div> <!-- /container -->


{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='content-static/ie10-viewport-bug-workaround.js') }}"></script>
{% endblock scripts %}
