<!doctype html>
<html ng-app="DockerPlay" ng-controller="PlayController">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons" />
        <link rel="stylesheet" href="https://cdn.bootcss.com/angular-material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/xterm.css' ) }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/xterm-addons/fullscreen.css' ) }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css' ) }}" />
    </head>
    <body layout="row">
    <div layout="column" style="width: 100%" ng-if="!isTeacher">{{ content|safe }}
        <p id="imageName" style="visibility: hidden;">{{ containerName }}</p>
    </div>
      <div layout="column" style="width: 100%">
        <div layout="column" style="height:100%;" ng-cloak>
            <section id="sessionEnd" layout="row" flex ng-if="!isAlive">
              <md-content flex layout-padding ng-if="!instances.length">
                <div layout="column" layout-align="top center">
                  <p>
                    <strong>Your session has expired.</strong>
                  </p>
                </div>
                <div flex></div>
              </md-content>
            </section>

            <section ng-if="!connected" class="disconnected" layout="row" layout-align="center center">
                <h1 class="md-headline">No connection to server. Reconnecting...</h1>
                <md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular>
            </section>

            <section id="popupContainer" layout="column" flex ng-if="isAlive">
<md-toolbar layout="row" layout-align="center">
  <div class="clock">[[ttl]]</div>
</md-toolbar>
<md-toolbar class="md-theme-indigo" layout="row">
  <div> <md-button  ng-click="newInstance()" ng-disabled="isInstanceBeingCreated" class="md-button" >[[newInstanceBtnText]]</md-button></div>
      <div  ng-repeat="instance in instances" ng-show="instance.name == selectedInstance.name">
            <md-button class="md-warn md-raised" ng-click="deleteInstance(instance)" ng-disabled="isInstanceBeingDeleted">[[deleteInstanceBtnText]]</md-button>
            <settings-icon></settings-icon>
  </div>
  <div style="margin-right: 0px">
    <settings-icon></settings-icon>
  <md-button  class="md-warn md-raised" ng-click="closeSession()">Close session</md-button>
  </div>
</md-toolbar>
<md-content flex layout-padding ng-if="!instances.length">
  <div layout="column" layout-align="top center">
    <p>Add instances to your playground.</p>
    <p><strong>Sessions and all their instances are deleted after [[ttl]] hours.</strong></p>
  </div>

  <div flex></div>
</md-content>

  <md-list layout="row">
    <md-list-item   ng-repeat="instance in instances" ng-click="showInstance(instance)" ng-class="instance.name == selectedInstance.name ? 'selected' : false" >
        <p>[[instance.name]]</p>
    </md-list-item>
  </md-list>
  <div></div>
  <div ng-repeat="instance in instances" ng-show="instance.name == selectedInstance.name" style="margin-top: 25px">
    <md-card flex md-theme="default" md-theme-watch >
        <md-card-content flex id="terminal-[[instance.name]]" class="terminal-container">
        </md-card-content>
    </md-card>
    </div>
</section>  
    </div>
    

        <p id="isTeacher" style="visibility: hidden;">{{ isTeacher }}</p>
        <script type="text/ng-template" id="settings-modal.html">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Settings</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="$ctrl.close()">
                        <md-icon class="material-icon" aria-label="Close dialog">close</md-icon>
                    </md-button>
                </div>
                </md-toolbar>

                <md-dialog-content>
                <div class="md-dialog-content" style="width:600px;">
                <div layout="row" ng-if="isTeacher">
                      <div flex="30">
                          <md-input-container class="md-block" flex-gt-sm>
                             <label>Searched Image</label>
                             <input type="text" ng-model="$ctrl.imageSearched" ng-model-options="{getterSetter: true}"  required>
                          </md-input-container>
                      </div>
                      <div flex="40">
                          <md-button ng-click="$ctrl.ImageSearch($ctrl.imageSearched)">
                            Search
                        </md-button>
                      </div>
                </div>
                    <div layout="row" ng-if="isImageSearched">
                        <div flex="50">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Instance Image</label>
                                <md-select ng-model="$ctrl.currentDesiredInstanceImage" ng-model-options="{getterSetter: true}" placeholder="New Instance Image">
                                    <md-option ng-repeat="image in $ctrl.instanceImages" value="[[image]]">
                                        [[ image ]]
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>  

                    <div layout="row">
                        <div flex="50">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Keyboard Shortcut Preset</label>
                                <md-select ng-model="$ctrl.currentShortcutConfig" ng-model-options="{getterSetter: true}" placeholder="Keyboard shortcut prefix">
                                    <md-option ng-repeat="preset in $ctrl.keyboardShortcutPresets" value="[[preset]]">
                                        [[preset.name]]
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="10"></div>
                        <div flex="40">
                            <div ng-if="$ctrl.selectedShortcutPreset">
                                Preset details:
                                <ul>
                                    <li ng-if="$ctrl.selectedShortcutPreset.presets.length == 0">No presets defined</li>
                                    <li ng-repeat="preset in $ctrl.selectedShortcutPreset.presets">
                                        <code>[[preset.command]]</code> - [[preset.description]]
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="50">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Terminal Font Size</label>
                                <md-select ng-model="$ctrl.currentTerminalFontSize" ng-model-options="{getterSetter: true}">
                                    <md-option ng-repeat="size in $ctrl.terminalFontSizes" value="[[size]]">
                                        [[ size ]]
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="$ctrl.close()">
                        Close
                    </md-button>
                </md-dialog-actions>
        </script>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

        <script src="https://cdn.bootcss.com/angular.js/1.5.5/angular.min.js"></script>
        <script src="https://cdn.bootcss.com/angular.js/1.5.5/angular-animate.min.js"></script>
        <script src="https://cdn.bootcss.com/angular.js/1.5.5/angular-aria.min.js"></script>
        <script src="https://cdn.bootcss.com/angular.js/1.5.5/angular-messages.min.js"></script>
        <script src="https://cdn.bootcss.com/angular-material/1.1.0/angular-material.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="{{ url_for('static',filename='assets/app.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/xterm.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/xterm-addons/fit.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/xterm-addons/fullscreen.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/attach.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            window.onbeforeunload = function (e) {
                return "Are you sure to leave, all the instances in the sessions will be lost !"
            };
        </script>
    </body>
</html>

